body{
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#audio{
	text-align: center;
	color: white;
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-top: 5%;
}
#download{
	text-align: center;
	margin-left: -7%;
}
#poster{
	padding-right: 1%;
}