body{
	background-image: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#heading{
	background-color: rgba(0,0,0,0.68);
	color: white;
	text-align: center;
	margin-top: .5%;
	font-size: 125%;
	margin-right: 10%;
	margin-left: 10%;
}
#news{
	text-align: justified;
	background-color: rgba(0,0,0,0.68);
	color: white;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;	

}